.form-container {
    display: flex;
    justify-content: space-between; /* Space between the circle and form */
    align-items: center; /* Vertically center the content */
    padding: 20px;
   
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.form-container{
    display: flex;
}
.circle {
    height: 400px; 
    width: 400px;
    background: linear-gradient(to bottom, orange, yellow , orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 3em; 
    font-style: italic;
    font-weight: bold;
    color: #020202; 
    font-weight: bold;
}